<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v2/"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script type="text/javascript" src="../js/user.js"></script>
    <link rel="stylesheet" href="../css/style.css">

  </head>
  <body>

    <!-- <h1>this is user's home page where user can view drops, create polls and add options</h1> -->
    <div class='container' id='homeContainer'>
      <div class="row">
        <div id='logo' class='col-md-12 col-sm-12'>Per<span style="font-size: 120px;">¢</span></div>
      </div>
    </div>

    <div class="container">
      <div class='row'>
        <div class="col-md-12" id="tabs">

          <ul class="nav nav-tabs" role="tablist">
            <% if (user.is_admin) { %>
              <li class="nav-item">
                <a id="anchorDropTab" class="nav-link active tab-link" data-toggle="tab" href="#drops" role="tab">Drops</a>
              </li>
              <li class="nav-item">
                <a id="anchorPollTab" class="nav-link tab-link" data-toggle="tab" href="#polls" role="tab">Polls</a>
              </li>
              <li class="nav-item">
                <a id="anchorCreateTab" class="nav-link tab-link" data-toggle="tab" href="#createDrop" role="tab">Create Drop</a>
              </li>
              <li class="nav-item">
                <a id="signOut" class="nav-link tab-link" href='/' role="tab">Log Out</a>
              </li>
              <% } else { %>
                <li class="nav-item">
                  <a id="anchorDropTab" class="nav-link active tab-link" data-toggle="tab" href="#drops" role="tab">Drops</a>
                </li>
                <li class="nav-item">
                  <a id="anchorPollTab" class="nav-link tab-link" data-toggle="tab" href="#polls" role="tab">Polls</a>
                </li>
                <li class="nav-item">
                  <a id="anchorCreateTab" class="nav-link tab-link" data-toggle="tab" href="#createPoll" role="tab">Create Poll</a>
                </li>
                <li class="nav-item">
                  <a id="signOut" class="nav-link tab-link" href='/' role="tab">Log Out</a>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
      </div>


      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
      </li> -->

    <div class="tab-content">
      <div class="tab-pane active" id="drops" role="tabpanel">
        <div class="container">
          <div class="row" id="thumbnail">
            <% for (var i = 0; i < result[0].length; i++) { %>
              <% var id = result[0][i].id %>
              <% var image_url = result[0][i].image_url %>
              <% var product_code = result[0][i].product_code %>
              <% var product_description = result[0][i].product_description %>
              <% var product_discount_price = result[0][i].product_category %>
              <% var product_category = result[0][i].product_category %>
              <div class="card col-md-4 col-sm-12 col-xs-12 my-card">
                <img class="card-img-top image" src="<%= image_url %>" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title font"><%= product_category %></h4>
                  <p class="card-text font"><%= product_description %></p>
                  <% if (user.is_admin) { %>
                    <div class='col-md-4 offset-md-1'>
                      <button type="button" class="btn btn-default viewDropButton font card-button" value="<%= id %>">View Drop</button>
                    </div>
                    <div class='col-md-4 offset-md-1'>
                      <button type="button" class="btn btn-default editDropButton font card-button" value="<%= id %>">Edit Drop</button>
                    </div>
                  <% } else { %>
                  <div class='col-md-4 offset-md-3'>
                    <button type="button" class="btn btn-default viewDropButton font card-button" value="<%= id %>">View Drop</button>
                  </div>
                  <% } %>
                </div>
              </div>
            <% }; %>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="polls" role="tabpanel">
        <% for (var j = 0; j < result[1].length; j++) { %>
          <% var product_category = result[1][j].poll_category %>
          <% var pollId = result[1][j].id %>
          <% var image = result[1][j].options[0].image_url %>
        <div class="container poll-card">
         <!-- <div class="row"> -->

             <div class="col-md-4">
               <div class='row'>
                 <div class="col-md-12">
                   <div class="col-md-6">
                     <h3 class='font'><%= product_category %></h3>
                     <small class='font small-font'>- by <%= user.first_name %></small>
                  </div>
                 </div>
               </div>
               <div class='row'>
                 <div class="col-md-12">
                   <img class="card-img-top image" src="<%= image %>">
                 </div>
               </div>
             </div>

             <% var totalVotes = 0 %>
             <% for (var l = 0; l < result[1][j].options.length; l++) { %>
               <% var votesAdd = result[1][j].options[l].votes %>
               <% totalVotes += votesAdd %>
               <% } %>
             <div class="col-md-8">
               <div class="col-md-12 font-size-large font">
                 Top Voted Options
               </div>
               <% for (var k = 0; k < 3; k++) { %>
                 <% if (result[1][j].options[k].votes == 0) { %>
                   <% var votes = result[1][j].options[k].votes %>
                 <% } else { %>
                 <% var votes = 0 %>
                 <% } %>
                 <% var title = result[1][j].options[k].title %>
                 <% var optionId = result[1][j].options[k].id %>
                <div class="col-md-12 bar-div">
                  <div class="col-md-10">
                    <span class='font'><%= title %></span>
                  </div>
                  <div class="col-md-2">
                    <span id="spanOptionId<%= optionId %>" class='font'><%= votes %> votes</span>
                  </div>
                </div>
                <div class="col-md-12 bar-div">
                  <progress id="progressOptionId<%= optionId %>" class="progress progress-info font" value="<%= votes %>" max="<%= totalVotes %>"></progress>
                </div>
             <% }; %>
             <div class="col-md-12 bar-div">
               <button type="button" class="btn btn-secondary viewPollButton font card-button" value='<%= pollId %>'>View all options</button>
             </div>
           </div>
         </div>
         <% }; %>
      </div>
      <div class="tab-pane create-container" id="createPoll" role="tabpanel">
        <div class='row'>
          <form id='createPollForm'>
            <div class='form-group'>
              <div class="col-md-12">
                <small class='small'>Category Of Your Poll</small>
                <input id='pollCategory' class='form-input' type="text" name="pollCategory" placeholder="What Category Does Your Poll Fall Under?">
              </div>
              <div class="col-md-12">
                <button class='form-button' type="submit">Create Poll!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="tab-pane" id="createDrop" role="tabpanel">
        <div>
          <form id='createDropForm'>
            <input id='dropImageUrl' type="text" name="dropImageUrl" placeholder="Product image URL">
            <input id='dropPdtCode' type="text" name="dropPdtCode" placeholder="Product Code">
            <textarea id="dropPdtDescription" name="dropPdtDescription" placeholder="Product Description"></textarea>
            <input id='dropDiscPrice' type="text" name="dropDiscPrice" placeholder="Product Discounted Price">
            <input id='dropPdtCategory' type="text" name="dropPdtCategory" placeholder="Product Category">
            <button type="submit">Create Drop!</button>
          </form>
        </div>
      </div>
      <!-- <div class="tab-pane" id="settings" role="tabpanel">...</div> -->
    </div>

    <!-- <div class='container'>
      <div class='row'>
        <button id='pollButton' type="button" class="btn btn-default">Polls</button>
        <button id='dropButton' type="button" class="btn btn-default">Drops</button>
      </div>
    </div> -->



    <div class='container' id='oneNail'>
      <!-- <div class="row" id='oneNail'></div> -->
    </div>

    <div class='container' id='allPolls'>

    </div>

    <div class='container'>
      <div class="row" id='allDrops'>

      </div>
    </div>

    <div class="row" id='pmtForm'></div>

    <!-- Modal For payment -->
    <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            TO INCLUDE STRIPE PAYMENT IN THIS MODAL
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>

      <form action="/charge" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_uTHAJk9VRvIvbH0YEC7wK1Sw"
                data-image="https://nairteashop.org/wp-content/uploads/avatar.png"
                data-name="nairteashop.org"
                data-description="Send lots of love"
                data-amount="1000"
                data-billing-address="true"
                data-label="Dolla dolla bill y'all">
        </script>
      </form>
    </div> -->

    <!-- create inputs once poll has been created -->
    <div class='container create-container' id='createOption'>
      <form id="createOptionForm">
        <div class="form-group">
          <div class="col-md-12">
            <input id="pollId" class='form-input' type='hidden' name="pollId">
          </div>
          <div class="col-md-12">
            <!-- <small class='small'>Image URL</small> -->
            <input id="imageUrl" class='form-input' type="text" name="imageUrl" placeholder="Share An Image With Us">
          </div>
          <div class="col-md-12">
            <!-- <small class='small'>Title of Your Option</small> -->
            <input id="pdtTitle" class='form-input' type="text" name="pdtTitle" placeholder="Name Of The Product">
          </div>
          <div class="col-md-12">
            <!-- <small class='small'>Product Code</small> -->
            <input id="pdtCode" class='form-input' type="text" name="pdtCode" placeholder="Product code">
          </div>
          <div class="col-md-12">
            <!-- <small class='small'>Product Description</small> -->
            <textarea id="pdtDescription" class='form-input' name="pdtDescription" placeholder="Tell Us More About This Product!"></textarea>
          </div>
          <div class="col-md-12">
            <!-- <small class='small'>Product's Retail Price</small> -->
            <input id="pdtRetailPrice" class='form-input' type="number" name="pdtRetailPrice" placeholder="Product Current Retail Price">
          </div>
          <div class="col-md-12">
            <button class='form-button' type="submit">Create!</button>
          </div>
        </div>
      </form>
    </div>

    <div class="modal fade" id="checkout">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                  <form id="form" class="form-horizontal">
                      <div class="form-group">
                          <div class="col-sm-12">
                              <div class="input-group">
                                  <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></span>
                                  <input id="card-num" class="form-control" type="text" size="16" placeholder="Card number" autofocus="autofocus" />
                              </div>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-sm-6">
                              <div class="input-group">
                                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                  <input id="card-exp" class="form-control" type="text" size="5" placeholder="MM/YY" />
                              </div>
                          </div>

                          <div class="col-sm-6">
                              <div class="input-group">
                                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                  <input id="card-cvc" class="form-control" type="text" size="4" placeholder="CVC" />
                              </div>
                          </div>
                      </div>
                  </form>
              </div>

              <div class="modal-footer">
                  <button id="submit" type="button" class="btn btn-primary col-sm-12"
                             data-progress-text="<span class='glyphicon glyphicon-refresh fa-spin'></span>"
                             data-success-text="<span class='glyphicon glyphicon-ok'></span>">
                      Pay
                  </button>
              </div>
          </div>
      </div>
  </div>


    <!-- Modal For option -->
    <% for (var m = 0; m < result[1].length; m++) { %>
      <% var pollId = result[1][m].id %>
    <div class="modal fade" id="addOption<%= pollId %>" tabindex="-1" role="dialog" aria-labelledby="addOption<%= pollId %>Label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addOption<%= pollId %>Label">Modal title</h4>
          </div>
          <div class="modal-body">
            <div id="createOption">
              <form id="createOptionForm">
                <input id="pollId" type="hidden" name="pollId" value='<%= pollId %>'>
                <input id="imageUrl" type="text" name="imageUrl" placeholder="Share an Image">
                <input id="pdtTitle" type="text" name="pdtTitle" placeholder="Title">
                <textarea id="pdtDescription" name="pdtDescription" placeholder="Tell us more about this product!"></textarea>
                <input id="pdtRetailPrice" type="number" name="pdtRetailPrice" placeholder="Product\'s current retail price">
                <input id="pdtCode" type="text" name="pdtCode" placeholder="Product code">
                <button type="submit">Create!</button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <% } %>








  </body>
</html>
